*.sln
.DS_Store
.vs
*.orig
*.map
.tmp
*.config
*.sublime-project
*.sublime-workspace
node_modules
/src/wp-content/themes/vandkunsten/www-dev/vendor
/src/wp-content/themes/vandkunsten/www-dev/js/template.js
/src/wp-content/themes/vandkunsten/www-dev/css/app.css
/src/.htaccess
.htaccess
.idea
/.idea
wp-config.php
~
~
~
